GPJaxExamples/__pycache__
GPJaxExamples/.ipynb_checkpoints

.ipynb_checkpoints
**/.vscode/
GP4MLExercises/.vscode



/GPJaxExamples/collapsed_vi.py
/GPJaxExamples/uncollapsed_vi.py
/GPJaxExamples/barycentres.py


.md